$width: 100%;

.display {
    display: block;
    margin: 0 auto;
}

.keyboard {
    margin: 0 auto;
    margin-top: 28px;
    // max-width: 590px;
    max-width: 680px;
    width: $width;
}

.keyShape {
    display: inline-block;
    border-radius: 5px;
    padding: 18px;
    background: #002344;
    margin: 0 2px;
    color: #fff;
    font-size: 17px;
    font-family: 'Tahoma';
    position: relative;
    cursor: pointer;
}

.keyShape:hover {
    background-color: #6B97BE;
}

.symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.backspace {
    width: $width;
    max-width: 119px;
}

.delete {
    max-width: 45px;
    width: $width;
}

.tab {
    max-width: 35px;
    width: $width;
}

.capslock {
    max-width: 50px;
    width: $width;
}

.enter {
    max-width: 110px;
    width: $width;
}

.shift-left {
    max-width: 80px;
    width: $width;
}

.shift-right {
    max-width: 87px;
    width: $width;
}

.space {
    max-width: 320px;
    width: $width;
}